# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.env
venv/
.venv/
etl_run.log
analysis_summary.csv

# Power BI temp files
*.pbix
*.abf
*.asdatabase

# Windows
Thumbs.db
Desktop.ini

# Temp files
*.tmp
*.bak
